*, *::after, *::before {
    box-sizing: bord;
}

body {
    background-color: #1f1f1f;
    color: whitesmoke;
    margin: 0;
    min-width: 360px;
}

:root {
    --accent-color: #00b05b;
    --accent-hover: #00ba70;
    --todo-item-background: #3c3c3c;
}

h1 {
    color: var(--accent-color);
    text-align: center;
    font-size: 4rem;
}

.App {
    background-color: #353535;
    width: fit-content;
    padding: 1rem 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

.todo-form {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1.5rem;
    
}

.todo-form-label {
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    padding-left: 2px;
}

.todo-form-input {
    padding: 0.5rem;
    border: 2px solid #1b1b1b;
    width: 20rem;
}

.todo-form-btn {
    background-color: var(--accent-color);
    color: white;
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-top: 2.2rem;
    border: none;
    cursor: pointer;
}

.todo-form-input:hover,
.todo-form-input:focus {
    outline: none;
    border: 2px solid var(--accent-hover);
    box-shadow: 0 0 4px var(--accent-hover);
}

.todo-form-btn:hover,
.todo-form-btn:focus {
    outline: none;
    background-color: var(--accent-hover);
}

.btn-area {
    margin-left: 2px;
    margin-bottom: 1.5rem;
}

.selector-btn {
    background-color: #666;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.selector-btn.active {
    background-color: var(--accent-color);
}

.selector-btn:focus,
.selector-btn:hover {
    outline: none;
    background-color: #727272;
}

.selector-btn.active:focus,
.selector-btn.active:hover {
    outline: none;
    background-color: var(--accent-hover);
}

.todo-list > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 2px;
}

.todo-item {
    background-color: var(--todo-item-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 8px #111;
}

.todo-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--accent-color);
    margin: 0.5rem 0;
}

.todo-desc {
    color: #bbb;
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

.delete-btn,
.completed-btn {
    background-color: var(--todo-item-background);
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.delete-btn {
    margin-right: 5px;
    color: #f00038;
}

.completed-btn {
    color: var(--accent-color);
}

.delete-btn:focus,
.delete-btn:hover {
    outline-color: red;
    color: red;
}

.completed-btn:focus,
.completed-btn:hover {
    outline-color: #00da8e;
    color: #00ca7f;
}

@media (max-width: 480px) {
    html {
        font-size: 8px;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    .App {
        width: 85%;
        padding: 1rem 2rem;
    }

    .todo-form {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
    }

    .todo-form-label {
        margin-top: 0.5rem;
    }

    .todo-form-btn {
        width: fit-content;
        padding: 0.5rem 1.25rem;
    }

    .btn-area {
        display: flex;
        justify-content: center;
    }

    .todo-desc {
        font-size: 1rem;
    }

    .delete-btn, .completed-btn {
        padding: 0;
    }

    .delete-btn {
        margin-left: 1.5rem;
    }
}